@media screen and (min-width: 700px) {
    body {
        background-color: yellow;
    }
    
}
nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top:0;
}

#welcome-section{
    height: 100vh;
}
